<div id="pins" class="transitions-enabled">
  <% @pins.each do |pin| %>
    <div class="box panel panel-default">
      <%= link_to image_tag(pin.image.url(:medium)), pin %>
      <div class="panel-body center">
        <p><%= pin.description %><br/>
        <em>000.00 Acres</em></p><br/>
        <%= link_to pin_path(pin), class: 'btn btn-default' do %>
            <span class="glyphicon glyphicon-list-alt"></span>
           View
        <% end %>
        <%= link_to "#", class: 'btn btn-default' do %>
        <span class="glyphicon glyphicon-stats"></span>
          Compare
        <% end %>
      </div>
        
     
    </div>
  <% end %>
</div>
