<div class="jumbotron center">
  <h1>Welcome to Epicstore!</h1>
  <p>This is Chris Mikelson's First Ruby on Rails App.</p>
  <p>
	<%= link_to "Log in", "#", class: "btn btn-default btn-lg" %>
	<%= link_to "Learn More", "http://chrismikelson.com", class: "btn btn-default btn-lg" %>
  </p>
</div>